@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    font-size: 1rem;
    height: 100vh;
    overflow: hidden;
    background-color:rgb(238, 241, 242);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 10rem;
    color: rgb(11, 63, 87);
    opacity: 0.4;
}

h1 span{
    color:rgb(73, 150, 186)
}

form {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width:100%;
    width:400px;
}

.goal{
    border:none;
}