@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    font-size: 1rem;
    overflow: hidden;
    background-color:rgb(238, 241, 242);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

h1{
    font-size: 10rem;
    color: rgb(11, 63, 87);
    opacity: 0.4;
}

h1 span{
    color:rgb(73, 150, 186)
}

form {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width:100%;
    width:400px;
}

.goal{
    border:none;
    color:rgb(83, 84, 84);
    font-size: 2rem;
    text-align: center;
    padding: 0.5em 0em;
    display: block;
    width: 100%;;
}

.goal::placeholder{
    color: rgba(73, 150, 186, 0.3);
}

.goals {
    background-color: rgb(255, 255, 255);
    list-style-type:none;
}

.goals li {
    border-top: 1px solid rgb(218, 218, 218);
    cursor:pointer;
    padding: 1em 2em;
}

.goals li.completed {
    color:rgb(194, 194, 194);
}